*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}



.container__menu .header1{
	background: navy;
	color:#fff;
	text-align: center;
	height: 30px;
}

header p{
	padding: 5px;	
}

.section1 nav{
	display: flex;	
	border-bottom: 2px solid grey;
	height: 40px
}

nav h1{
	padding-top:5px;
	margin-left: 21px

}
nav li{
	list-style: none;
	padding-top: 10px;
}

nav a{
	text-decoration: none;
	margin-left: 60px
}


nav a li {
	color: black;
	font-size: 18px;
	font-weight: 700px;
}

.cuenta{
font-size: 18px;
font-weight: 600;
padding: 10px;
margin-left: 270px

}


.content{
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-bottom: 2px solid grey
}

.section2{
	width: 18%;
	margin-top: 20px;
	text-align: justify;
	margin-left: 24px;
	font-size: 22px;
	display: inline;
}

.section2 a{
	text-decoration: none;
	color: black
}

.section2 li{
	margin-left: 20px;
	font-size: 20px;
	line-height: 2.5rem
}

.caja{
	width: 22%;
	color: white;
	margin-right: 20px;
	margin-top: 20px;
	height: 250px;
	text-align: center;		
	background-color:#3FCCC0;
	margin-bottom: 20px;
}
.caja p{
	margin-top: 80px;
	font-size: 22px
}

.caja .btn1{
	padding:5px 40px;
	font-size: 18px;
	background-color: #3FCCC0;
	border-bottom: 1px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-top: none;
	color: white;
}

.caja .btn2{
	color: white;
	padding:5px 40px;
	font-size: 18px;
	background-color: #3FCCC0;
	border-top: 1px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-bottom: none;
}

.banner{
	width: 100%;
	text-align: center;
	background: #05295A;
	height: 100px;

}

.btn button{
	padding:10px 20px;
	background: transparent;
	color: white;
	border: none;
	border-bottom: 1px solid white;
	width: 120px;
	margin-bottom: 40px;
	margin-left: 10px;
	cursor: pointer;

}

.btn .btn-3 {
	background-color: white;
	color: black

}

.btn{
	display: flex;
	margin: auto;
	justify-content: center

}




.section .imagenes{
	width: 100%;
	text-align: center;

}

.imagenes img{
	width: 47%;
	margin: 10px;
	border:1px solid navy;
	height: 70vh;
	object-fit: cover;

}

.section3{
	height:50vh;
	width: 100%;
	background-image: url(clara.png);
	background-size: cover;
	background-repeat: no-repeat;
}


.acordeon{
	max-width: 800px;
	height: 100vh	
	
}

.acordeon .contento{
	position: relative;
	margin: 10px 20px;
}

.acordeon .contento .joey{
	position: relative;
	padding: 10px;
	background-color:#2694af;
	color: white;
	cursor: pointer;		
}

.acordeon .contento .joey::before{
	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 1.5em
}

.acordeon .contento.active .joey::before{
	content: '-'
}

.acordeon .contento .parrafo{
	
	background-color: #000;
	height: 0;
	overflow: hidden;
	transition: .5s;
	overflow-y: auto;
	color: white
}


.acordeon .contento.active .parrafo{
	height: 100px;
	padding: 10px
}



